.logo-container {
    flex: 3;
    background-color: rgb(218, 229, 245);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.desc{
    width: 600px;
}

.desc img{
    width: 600px;
}

.desc p{
    font-size: large;
    font-weight: bold;
}

.encryp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.encryp img{
    width: 15px;
    height: 15px;
}