.logo-container {
    background-color: rgb(218, 229, 245);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.desc img{
    width: 70%;
}

.desc p{
    font-size: large;
    font-weight: bold;
}

.encryp{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.encryp img{
    width: 1rem;
    height: 1rem;
}