.popup{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}
.create-group-modal {
  background-color: white;
  padding: 2%;
  border-radius: 10px;
  width: 25%;
  z-index: 1;
}


.create-group-modal  h2 {
  margin-bottom: 5%;
}
  
.input-group {
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}
  
.input-group input {
  width: 55%;
  margin-left: 2%;
  padding: 2% 3%;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.color-picker {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}
  
.color-options {
  display: flex;
  justify-content: space-evenly;
  margin-left: 3%;
  width: 50%;
}

.color-circle {
  border: none;
  width: 1.5rem;
  margin: 3%;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s;
}
  
  
.selected {
  border: 2px solid black;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.create-button {
  background-color: #001f8b;
  color: white;
  border: none;
  padding: 3%;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
  
.create-button:hover {
  cursor: pointer;
  transition: transform 0.3s;
}
  
@media(max-width: 380px) {
  .create-group-modal {
  padding: 5%;
  width: 70%;
 } 
}